.fas {
  background-image: url("../../../../assets/icon/star-on.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 40px;
}

.far {
  background-image: url("../../../../assets/icon/star-off.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 40px;
}

