@import "../../../../assets/styles/gusl-shared";
#list-guides-container{
  padding: 35px 18px;
  .content{
    border-radius: 16px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--snow);
    padding: 20px;
  }
}
.img-guide-block-list{
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  border-radius: 8px;
  vertical-align: middle;
  margin-right: 20px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.page-title{
  font-family: Hind;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.79;
  letter-spacing: normal;
  color: #1d2c5a;
}

  .header-menu{
    border-bottom: 1px solid rgba(196, 196, 196, 0.32);;
    padding: 20px 0px;
    .title {
      cursor: pointer;
      position: relative;
      text-transform: capitalize;
      span, .icon{
        display: inline-block;
        vertical-align: middle;
      }
      .icon{
        margin-right: 15px;
      }
      .icon-dwn{
        position: absolute;
        right: 0px;
        top: 16px;
      }
      span{
        font-family: $guru-font-hind;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1d2c5a;
      }
    }



  .collaps-content{
    height: 0px;
    opacity: 0;
    transition: height 0.4s;
    h4{
      font-family:  $guru-font-hind;
      font-size: 12px;
      font-weight: 600;
      color: #1d2c5a;
    }
    p{
      font-family: $guru-font-hind;
      font-size: 12px;
      line-height: 1.59;
      letter-spacing: normal;
      color: #7d818c;
      margin: 10px 0px 18px;
    }
  }
  .collaps-content.open{
    height: auto;
    opacity: 1;
    transition: height 0.4s;
  }
    .dropdown-items {
      margin: auto;

      height: 0px;
      opacity: 0;
   .item{
     padding: 12px 0px;
     border-bottom: 1px solid rgba(196, 196, 196, 0.32);
     &:last-child{
       border: none;
     }
   }
   .title{
     font-family: $guru-font-hind;
     font-size: 14px;
     font-weight: 600;
     color: #1d2c5a;
   }
  img{
    float: right;
  }

    }

  }
.header-menu .title.open ~  .dropdown-items{
  padding: 20px 18px 0px 20px;
  height: auto;
  opacity: 1;
}
