
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #7175da, #9790f2);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.courses-container {
  position: sticky;
  bottom: 350px;
  top: 40px;
  z-index: 25;
  justify-content: end;
  display: flex;
  margin-right: -32px;
}

.courseOpened {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 425px;
  height: 200px;
}
.courseClosed {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 91px;
  height: 200px;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  /* margin: 10px 0; */
  margin-top: 113px;
}

.course-preview {
  background-color: #03224c;
  color: #fff;
  width: 100px;
}

.course-preview p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 18px;
  padding: 36px 23px 4px 35px;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 6px;
  // position: relative;
  text-align: -webkit-center;
  width: 100%;
}
.title-card {
  padding: 30px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}
