<div class="pwd-container">
  <div class="pwd-container-item">
    <div class="pwd-password-img">
      <img *ngIf="localCorporate?.logoUrl" style="height: 60px; padding-right: 24px;" [src]="localCorporate.logoUrl">
      <img *ngIf="!localCorporate?.onlyWhiteLabel" src="../../../../assets/images/yaago.svg"/>
    </div>
    <div class="pwd-container-item">
      <div style="padding-top: 32px; padding-bottom: 16px; text-align: center" >
        <div class="keyring-label">{{'password.askforpassword-label' | translate}}</div>
        <input style="min-width: 250px;" class="keyring-input" [(ngModel)]="password" type="text" >
      </div>

      <div class="error-msg" *ngIf="errorMsg !== ''">{{errorMsg}}</div>

      <app-button style="padding-top: 16px;" (debounceClick)="setPassword()" [text]="'Valider'" [type]="'primary'"></app-button>
    </div>


  </div>
</div>
