@import "../../../../assets/styles/colors-yaago2";
@import "../../../../assets/styles/yaago2-fonts";

.pwd-container {
  min-height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
  //background-color: $color-background;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  .pwd-container-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .keyring-label {
      font-size: 12px;
      font-family: $font-Roboto;
      padding-bottom: 3px;
      text-align: center;
      padding-bottom: 8px;
    }
    .keyring-input {
      padding-left: 8px;
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: $color-greenVogue;
      border: 1px $color-greenVogue dotted;
    }

  }
}

.pwd-password-img {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.error-msg {
  font-family: $font-Roboto;
  font-size: 11px;
  color: red;

}

