:root {
  --dunnessant-color: #FE3945;
  --forgetMeNot-color: #FFF3EE;
  --greenVogue-color: #03224C;
  --catSkill-color: #e2eff2;
}

$color-dunnessant: var(--dunnessant-color);
$color-forgetMeNot: var(--forgetMeNot-color);
$color-greenVogue: var(--greenVogue-color);
$color-catskill: var(--catSkill-color);

$color-snackbarWrong: #E14747;
$color-snackbarValid: #21bd60;
$color-scorpion: #5b5b5b;
$color-silver: #A8A8A8;

$color-white: #FFFFFF;
$color-petrol:#07204D;
$color-water: #BFD7DD;
$color-black: #141414;
$color-hex:#232323;
$color-black2:#000000;
$color-background: #f0f3f4;
