@import "colors-yaago2";

$gurubnb-primary-color-1: #49B1D6; //sea
$gurubnb-primary-color-2: #FE6B0C; //ginger
//$gurubnb-primary-color-3: #01085C; //Navy
$gurubnb-primary-color-3: #001440; //Saphir
$gurubnb-primary-color-4: #001440; //Saphir

$gurubnb-secondary-color-1: #F0F3F4; //Ice
$gurubnb-secondary-color-2: #BFD7DD; //Water
$gurubnb-secondary-color-3: #FBB926; //Sun

$gurubnb-ternary-color-1: #A70A1A; //Wine
$gurubnb-ternary-color-2: #88C5A2; //Emerald
$gurubnb-ternary-color-3: #A4CDED; // Sky
$gurubnb-ternary-color-4: #C3CBCE; // Concrete

$gurubnb-typo-color-1: #072D4D; //Onyx
$gurubnb-typo-color-2: #8FB0C4; //Slate
$gurubnb-typo-color-3: #ffffff; // Snow
$gurubnb-typo-color-4: #e4e7e8; // Chalk

$gurubnb-purple-color: #6183e5; // purple
$gurubnb-purple-color2: #5A7DE4; // Chalk
$gurubnb-dark-blue-color: #1d2c5a;


//variables
$gurubnb-red:#FE3945;

$gurubnb-titleColor:#141414;
$gurubnb-secondary-titleColor:#141414;
$gurubnb-ternary-titleColor:#fff;

$gurubnb-profiledata:#141414;

$gurubnb-primary-textColor:#5b5b5b;
$gurubnb-secondary-textColor:#7d818c;
$gurubnb-ternary-textColor:#fff;

$gurubnb-reserveNumber:#5b5b5b;
$gurubnb-reserveNumber-background:#fff3ee;

$gurubnb-menu-color:#5b5b5b;
$gurubnb-dropdownitem-color:#a8a8a8;
$gurubnb-dropdownitem-hovercolor:#5b5b5b;

$gurubnb-headermenu-color:black;
$gurubnb-headermenu-border:black;
$gurubnb-dropdownitem-hovercolor:#5b5b5b;




$guru-font-hind: Roboto;
$guru-font-didact: 'Didact Gothic', sans-serif;
$guru-font-barlow: Roboto;

h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
}
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

.type-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .host{
        display: inline-block;
    }
    .staff{
        display: inline-block;
    }
}

.circle-container {
    height:80px;
    width: 80px;
    border: 2px solid $gurubnb-ternary-color-3;
    border-radius: 100%;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.circle-active {
    background-color: $gurubnb-typo-color-3;
    border: 2px solid $gurubnb-typo-color-3;
}


.inner-circle {
    height:62px;
    width: 62px;
    border-radius: 100%;
    background-color: $gurubnb-ternary-color-3;

}

.inner-active {
    background-color: $gurubnb-typo-color-3;
}

.host-icon {
    margin-top: 11px;
    margin-left: 2px;
}

.staff-icon {
    margin-top: 21px;
    margin-left: 2px;
}


.language-carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;

    .language-container {
        width: 80px;
        height: 87px;
        box-shadow: 0 4px 11px 0 rgb(0 0 0 / 18%);
        background-color: $gurubnb-typo-color-3;
        border-radius: 10px;
        position: relative;


        .flag img {
            height: 60px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .lang-text {
            height: 27px;
            font-family:  $guru-font-barlow;
            text-transform: uppercase;
            font-size: 0.45em;
            font-weight: 500;
            font-style: normal;
            font-stretch: semi-condensed;
            line-height: 2.38;
            letter-spacing: 1.2px;
            text-align: center;
            color: $gurubnb-primary-color-1;
        }
        .layer {
            background-color: rgba(7, 45, 77, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

}

.type-text {
    font-family:  $guru-font-barlow;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
    line-height: 2.5;
    letter-spacing: 2.1px;
    text-align: center;
    color: $gurubnb-typo-color-2;
}
.selected {
    color: $gurubnb-typo-color-3;
}

//.activeSelect{
//  color: $gurubnb-typo-color-2;
//}

.gs-btn {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    text-align: center;
    font-family:  $guru-font-barlow;
    text-transform: uppercase;
    height: 70px;
  cursor: pointer;

    .login {
        font-family:  $guru-font-barlow;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 2.5;
        letter-spacing: 2.8px;
        text-align: center;
        color: $gurubnb-typo-color-3;
        text-transform: uppercase;
      }

    .bg {
        width: 70%;
        background-color: #fe6b0c;
        font-family: $guru-font-barlow;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 500;
        line-height: 2.5;
        letter-spacing: 2.1px;
        text-align: center;
        color: $gurubnb-typo-color-3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        background-color: #fe6b0c;
        // background-color: #a70a1a;
        font-family: $guru-font-barlow;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 2.5;
        letter-spacing: 2.8px;
        text-align: center;
        color: $gurubnb-typo-color-3;
      }
    }
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

/* form design */

.label{
  display: block;
  color: $gurubnb-typo-color-2;
  font-family:  $guru-font-didact;
  font-size: 16px;
  letter-spacing: normal;
  margin-bottom: 14px;
}
.form-input {
  border: none;
  border-bottom: 1.4px solid $gurubnb-typo-color-2;
  width: 100%;
  color: $gurubnb-typo-color-1;
  padding-bottom: 7px;
  border-radius: 0px;
}
.form-group {
  margin-bottom: 30px;
}
.disabled-input{
  .label{
    color: $gurubnb-ternary-color-4;
  }
  .form-input {
    border-bottom: 1.4px solid $gurubnb-ternary-color-4;
    padding-left: 20px;
    color: $gurubnb-ternary-color-4;

  }
}

/* setting-card design */

.setting-card{
  text-align: left;
  background: transparent;
  padding: 20px;
  margin: 14px;
  border-radius: 20px;
  /*box-shadow: 1px 4px 8px 1px #0000000d;*/
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%2349B1D6FF' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");

  .text{
    text-align: left;
    font-family: $guru-font-didact;
    font-size: 14px;
    color: #334856;
  }
  .title-header{
    text-align: left;
    margin-bottom: 18px;
    .rm-toggle{
      margin-right: 12px;
    }
    .item-title{
      font-family: $guru-font-barlow;
      font-size: 16px;
      font-weight: 600;
      font-stretch: semi-condensed;
      letter-spacing: 0.6px;
      color: $gurubnb-primary-color-1;
      text-transform: uppercase;

    }
  }

}
.setting-card.active{
  background: #ecf5fb ;
  background-image:none;
}
.rm-toggle ,.item-title{
  display: inline-block;
  vertical-align: middle;
}
.orange-button {
  max-width: 325px;
  width: 100%;
  margin: 2em auto;
  margin-top: 1em;
  border: none;
}

/* bubble info  */
.bubble{
display: none;
}
.bubble-text{
  background:$gurubnb-typo-color-4;
  color:$gurubnb-typo-color-1;
  padding:7px 15px;
  border-radius:3px;
  width:350px;
  font-family: $guru-font-didact;
  font-size: 14px;
}

.bubble-text::after{
  content:"";
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-top: 20px solid $gurubnb-typo-color-4;
  position: absolute;
}


/*  menu left design */


.menu-list{
  width: 90%;
  margin: auto;
}
.normal-menu{
  box-shadow: 0px 8px 10px 0px #00000014;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.menu-card{
  padding: 9px 14px;

  .icon-menu , .title{
    display: inline-block;
    vertical-align: middle;

  }
  .title{
    font-family:  $guru-font-barlow;
    font-size: 15px;
    font-weight: 600;
    font-stretch: semi-condensed;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: 0.8px;
    color: $gurubnb-typo-color-1;
    text-transform: uppercase;
    width: 82%;
  }
  .icon-menu{
    margin-right: 15px;
    height: 28px;
  }

}
.active-menu {
  border: 1px solid $gurubnb-primary-color-1 !important;
  box-shadow: 0px 2px 0px 0px $gurubnb-primary-color-1 !important;
}

/* ========= quil editor custom css ========= */

.ql-placeholder .ql-picker-options {
  height: 200px;
  overflow-y: scroll;
}

/* =============== onboarding css ============== */

.step-parent-container{
  height: 100vh;
}
#step-container{
  width: 893px;
  height: 600px;
  background: #fff;
  border-radius: 25px;
  margin: auto;
  padding: 70px;
  vertical-align: revert;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sous-step-content-container .content{
  background: #fff;
  border-radius: 15px;
  padding: 50px;
  vertical-align: revert;
  position: relative;
  width: 100%;
}

.step-title, .sub-step-title{
  font-family: $guru-font-barlow;
  font-weight: 600;
  font-stretch: semi-condensed;
  letter-spacing: 2.56px;
  color: $gurubnb-primary-color-3;
}
.step-title{
  font-size: 32px;
}
.sub-step-title{
  font-size: 24px;
}
.step-desc{
  font-family: $guru-font-hind;
  font-size: 16px;
  color: $gurubnb-primary-color-3;
}
.sous-step-container{
  height: 100vh;
}
.sous-step-{
  height: 100vh;
}
.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  position: relative;
  padding: 40px;
  width: 1214px;

}
.sous-step-right-container{
  text-align: center;
 // height: 540px;
  height: 100%;
}

.button-bottom-container{
  text-align: center;
}
.next-orange-step{
  width: 264px;
  height: 54px;
  border-radius: 8px;
  background-color: #ed7331;
  font-family: $guru-font-barlow;;
  font-size: 18px;
  font-weight: 600;
  font-stretch: semi-condensed;
  color: #fff;
  border: none;
  text-align: left;
  padding: 18px;
  line-height: 16px;
  cursor: pointer;
  img{
    float: right;

  }
}
.next-orange-step.disabled{
  background: #c3cbce;
}
button.back-orange-step {
  background: transparent;
  border: none;
  font-family: $guru-font-barlow;
  color:$gurubnb-typo-color-1;
  font-size: 14px;
  font-weight: 600;
  font-stretch: semi-condensed;
  margin-right: 21px;
  cursor: pointer;
  text-transform: uppercase;
}
button.back-orange-step img {
  margin-right: 7px;
}
.sub-step-title{
  margin-bottom: 20px;
}
.sous-step-right-container img.background{
  height: 100%;
}
.btn-gris,.btn-orange{
  width: 85px;
  height: 56px;
  font-family: $guru-font-barlow;
  font-size: 18px;
  font-weight: 600;
  font-stretch: semi-condensed;
  border: none;
  border-radius: 6px;

}
.btn-gris{
  background: $gurubnb-secondary-color-1;
  color: $gurubnb-typo-color-1;
}
.btn-orange{
  background: #ed7331;
  color: #fff;
}
.checkboxform .label{
  font-family: $guru-font-hind;
  font-size: 14px;
  color: $gurubnb-typo-color-1 ;
}
/*gest view title */

.gest-title-style{
  font-family: $guru-font-hind;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #fff;
  position: relative;
  margin-bottom: 50px;
  display: block;
  color: $gurubnb-dark-blue-color;
}
.gest-title-style:after{
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fe3945;
  position: absolute;
  left: 0px;
  bottom: -18px;
}

.pd-t-50{
  padding-top: 50px;
}
 /* guest back btn */
.back-btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff3ee;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
  margin-bottom: 38px;
}

.container{
  //max-width: 1230px;
  left: 119px;
  //margin: 0 auto;
  margin-left: 119px;
  padding-left: 15px;
  padding-right: 15px;
}



$font-Shellana: Shellana-Regular;
$font-McQueen: McQueenDisplay-Regular;
$font-Roboto: Roboto;
$font-Roboto-Light: Roboto-Light;

.mcqueen {
  font-family: $font-McQueen !important;
}
.roboto {
  font-family: $font-Roboto !important;
}
