@import "yaago2-button";

.secondary-button-small {
    @extend .X-small;
    width: 124px;
    height: 32px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 80px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid $color-greenVogue;
    color: $color-greenVogue;
    font-weight: bold;
    p {
      margin-bottom: 0 !important;
    }
  }
  
  .secondary-not-valid {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
    p {
      margin-bottom: 0 !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .secondary-button-small {
      width: 100%;
      padding: 10px 0;
    }
  }
