:root {
  --dunnessant-color: #FE3945;
  --forgetMeNot-color: #FFF3EE;
  --greenVogue-color: #03224C;
  --catSkill-color: #e2eff2;
}

$color-dunnessant: var(--dunnessant-color);
$color-forgetMeNot: var(--forgetMeNot-color);
$color-greenVogue: var(--greenVogue-color);
$color-catskill: var(--catSkill-color);

// $color-forgetMeNot: hsl(18, 100%, 97%);

$color-greenVogue: #03224C;
$color-snackbarWrong: #E14747;
$color-snackbarValid: #21bd60;
$color-scorpion: #5b5b5b;
$color-silver: #A8A8A8;
$color-white: #FFFFFF;
$color-petrol:#07204D;
$color-water: #BFD7DD;
$color-black: #141414;
$color-hex:#232323;
$color-black2:#000000;
$color-dim-gray:#636363;
$color-dark-gray:#a0a0a0;
$color-alice-blue:#F0F3F4;
$color-viking: #71bfd6;
$color-cyan-blue: #b2c5df;
$color-alto: #dfdfdf;

$color-alabaster-light: #fafafa;
